.green {
    background-color: rgb(82, 170, 94);
    color: rgb(235, 235, 235);
}
.red {
    background-color: rgb(223, 83, 83);
    color: rgb(235, 235, 235);
}
.yellow {
    background-color: rgb(221, 223, 110);
    color: rgb(126, 118, 17);
}
.blue {
    background-color: rgb(94, 113, 199);
    color: rgb(235, 235, 235);
}
.orange {
    background-color: rgb(228, 163, 111);
    color: rgb(75, 75, 66);
}