.green {
    background-color: rgb(49, 167, 65);
    color: rgb(235, 235, 235);
}
.red {
    background-color: rgb(192, 33, 33);
    color: rgb(235, 235, 235);
}
.yellow {
    background-color: rgb(231, 233, 95);
    color: rgb(126, 118, 17);
}
.blue {
    background-color: rgb(72, 94, 190);
    color: rgb(235, 235, 235);
}
.orange {
    background-color: rgb(228, 138, 65);
    color: rgb(75, 75, 66);
}
.purple {
    background-color: rgb(183, 72, 187);
    color: rgb(235, 235, 235);
}