@import '~bulma/css/bulma.css';
@import 'colors';

html {
    background-color: inherit;
}

body {
    transition: background-color 1s linear;
}

h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0.6em;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: inherit;
    }
}

.button {
    background: none;
    border: currentColor 1px solid;
    color: inherit;
    font-weight: bold;
    display: block;
    margin: 1em auto;

    &:hover,
    &:focus {
        cursor: pointer;
        color: inherit;
        border: currentColor 1px solid;
        background-color: rgba(225, 225, 225, 0.2);
    }
}
