@import '~bulma/css/bulma.css';
@import 'colors';

html {
    background-color: inherit;
}

body {
    transition: background-color 1s linear;
}

h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0.6em;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: inherit;
    }
}

button {
    color: inherit;
    background-color: inherit;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border: currentColor 1px solid;
    border-radius: 0.4em;
    margin: 0.2em;
    transition: background-color 0.2s ease;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: darken(#e9e9e9, 20);
    }
}
